{% extends 'flatpages/default.html' %}


{% block title %} Product list {% endblock title %}

{% block content %}
<body>
<h2>&nbsp;</h2>
<h2><i>Введите данные для поиска</i></h2>
<h2>&nbsp;</h2>
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>

<table>
    <thead>
        <th>
            Категория
        </th>
        <th>
            Источник
        </th>
        <th>
            Дата
        </th>
        <th>
            Название
        </th>
        <th>
            Текст
        </th>
    </thead>
    {% for post in posts %} <!-- поменяем products на filter.qs, т.к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
    <tr>
        <td>
            {{ post.category.name|title}}
        </td>
        <td>
            {{post.source.name|title}}
        </td>
        <td>
            {{post.date|date:'d M Y, H:m'}}
        </td>
        <td>
            {{post.name|title}}
        </td>
        <td>
            {{ post.description }}
        </td>
    </tr>
    {% endfor %}
</table>
{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
</body>

{% endblock content %}